
</form>

<section class="clearfix">
  <article class="one_fourth">
  </article>
  <article class="one_half">
    <div class="one_half">
      <h1>Welcome, <%=username%></h1>
      <form method="get" action="/">
        <input class="loginbutton" type="submit" value="Logout" />
    </div>
  </article>
  <article class="one_fourth">
  </article>
</section>