
<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<section class="clearfix">
  <article class="one_fourth">
  </article>
  <article class="one_half">
    <div class="one_half">
      <h1>Welcome, <%= cur_user %></h1>
      <form method="get" action="/">
        <input class="loginbutton" type="submit" value="Logout"/>
      </form>
        <ul>
        <% users.each do |user| %>
          <li><%= user[:username] %>
            <form method="post" action="/">
            <input type="hidden" name="_method" value="delete"/>
            <input type="submit" name="id" value="Delete"/>
            </form>
          <% end %>
      </ul>
    </div>
  </article>
  <article class="one_fourth">
  </article>
</section>
