<section class="clearfix">
  <article class="one_half">
    <form method="post" action="/new_fish">
      <ul>
        <li><label class="names for=" name">Name: </label></li>
        <li><input class="names" type="text" name="fish_name"/></li>
      </ul>
      <button type="submit" class="loginbutton">Create Fish</button>
    </form>
  </article>
</section>
<!--<li>-->
<!--<label for="wiki">Wiki: </label>-->
<!--<input type="url" name="wiki"/>-->
<!--</li>-->