<form method="post" action="/register">
  <ul>
    <li>
      <label for="name">Username</label>
      <input type="text" name="name" id="name"/>
    </li>
    <li>
      <label for="email">Email</label>
      <input type="email" name="email" id="email"/>
    </li>
    <li>
      <input type="submit" value="Submit">
    </li>
  </ul>
</form>