<form method="post" action="/register">
  <ul>
    <li>
      <label for="name">Username</label>
      <input type="text" name="name" id="name"/>
    </li>
    <li>
      <label for="password">Password</label>
      <input type="password" name="password" id="password"/>
    </li>
    <li>
      <input type="submit" value="Submit">
      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>
    </li>
  </ul>
</form>
