/*#register {*/
    /*padding-top: 75px;*/
/*}*/

.wrapper {
    text-align: center;
    margin: auto;

}

#regbutton {
    width: 275px;
    height: 100px;
    font-size: 1.2em;
}

li {
    list-style-type: none;
}

#flash {
    color: green;
    margin-left: -110px;
    margin-top: 100px;
    margin-bottom: -60px;
    text-align: center;
}


#loginbutton {
    width: 275px;
    font-size: 1.2em;
}

.textbox {
    width: 275px;
}
