/*
STYLE.CSS:
One stylesheet to rule them all.

selector { property:value }

*/



/* ----- =structure ----- */


body {
    /*background-color:#000;*/

}

header {
    /*background-color: #c5c5c5;  *//* Dark Grey */
    height: 50px;
}

header img {
    width: 300px;
    height: 100px;
}

nav {
    /*background-color: #f4f4f4;  *//* Light Grey */
}

#content {
    background-color: #fff;  /* White */
}

footer {
    background-color: #c5c5c5;  /* Dark Grey */
}

.wrapper {
    margin: auto;
    width: 980px;
}


/* ----- =columns ----- */

.one_half { width:460px; }
.one_third {	 width:300px; }
.two_third {	 width:620px; }
.one_fourth {	 width:220px; }
.three_fourth { width:700px; }
.full_column {	 width:940px; }

article {
    position:relative;
    margin-left:20px;
    margin-bottom:16px;
    float:left;
}



/* clearfix */
.clearfix:before,
.clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

.button {
    width: 460px;
    height: 150px;
    font-size: 2em;
}

.loginbutton {
    width: 460px;
    height: 50px;
    font-size: 2em;
}

ul {
    list-style-type: none;

}

.names {

    font-size: 13px;
    width: 460px;
    margin: 5px 5px 5px -40px;

}

.or {
    text-align: center;
    margin-top: 2em;
    font-size: 1.5em;
}

.textbox {
    width: 460px;
    margin-left: -40px;
}

#flash {
    color: green;
}

.red {
    color: red;
}

.users {
    border: 2px solid black;
}

.lists ul {
    border: 2px solid black;
}

.lists a {
    text-decoration: none;
}